.novedades_cafes{
    padding: 50px;
    text-align: center;
    h1{
        padding-top: 9%;
    }
    div{
        width: 25vw;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        h4{
            padding: $espaciado_estandar;
        }
        img{
            width: 90%;
        }
    }
}
